--index-url https://pypi.org/simple
--extra-index-url https://staticfiles.krxd.net/foss/pypi/
--requirement upstream-requirements.txt
boto==2.49.0
boto3==1.9.224
enum34==1.1.6
krux-stdlib==4.0.0
six==1.12.0
