botocore==1.12.224
docutils==0.15.2
future==0.17.1
futures==3.3.0 ; python_version == '2.6' or python_version == '2.7'
jmespath==0.9.4
kruxstatsd==0.3.6
lockfile==0.12.2
pystache==0.5.4
python-dateutil==2.8.0 ; python_version >= '2.7'
s3transfer==0.2.1
statsd==3.3.0
subprocess32==3.5.4
urllib3==1.25.3 ; python_version == '2.7'
